/* Global scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* Gray-200 */
}

::-webkit-scrollbar-thumb {
  background: #233876; /* Blue-500 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F4A120; /* Blue-600 */
}
